.accordion {
    /* max-width: 400px; */
    /* box-shadow: 0 0 10px rgb(0 0 0 / 20%); */
    /* overflow: hidden; */
    /* background-color: white; */
    border-bottom: 1px solid #e8eaed;
    padding: 20px 0;
    /* transition: background-color 0.1s; */
}

.accordion-label{
    display: flex;
    justify-content: space-between;
    color: black;
    font-weight: bold;
    position: relative;
    text-transform: capitalize;
    cursor: pointer;
}
/* 
.accordion:hover{
    background-color: rgba(0, 0, 0, 0.1);
} */

.accordion-content{
    background: white;
    line-height: 1.6;
    font-size: 0.85em;
    display: none;

    margin-top: 18px;
}

.accordion-input{
    display: none;
}


.accordion-input:checked ~ .accordion-content{
    display: block;
}