.search-button {
    height: 60px;
    border:  1px solid #dadce0;
    background: #fff;
    text-align: center;
    color: #5f6368;
    cursor: pointer;
    font-size: 20px;
    border-right: 0;
    padding-left: 30px;
}