@import "../../../../theme-variables.css";


.search-button {
    height: 60px;
    border:  1px solid var(--card-border-color);
    background: var(--primary-color);
    text-align: center;
    color: var(--darker-greyish);
    cursor: pointer;
    font-size: 20px;
    border-right: 0;
    padding-left: 30px;
}