:root {
    --primary-color: #f8f9fa;
    --background-color: #f8f9fa;
    --filter-table: hsl(180, 31%, 95%);
    --light-grey: #bdc1c6;
    --dark-greyish: hsl(180, 8%, 52%);
    --very-dark-greyish: hsl(180, 14%, 20%);
  }