.title {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 18px;
    -webkit-line-clamp: 2;
    line-height: 23px;
    margin-bottom: 9px;
    margin-top: 0;
    overflow: hidden;
}

@media (min-width: 50em){
    .title {
        font-size: 24px;
        line-height: 30px;
    }
}